
















/*aqui conseguimos puxar somente os parágrafos que são filhos diretos do main, ou seja, os paragrafos que estão dentro do section, não seram modificados.
main > p{
    background: red;
}

/*img como elemento ancora. aqui modificaremos o primeiro o parágrafo que veem depois de imagens
img + p{
    background: blue;
}

/*img como elemento ancora. aqui modificaremos
todos os parágrafos que veem depois de imagem
img ~ p{
    background: yellow;
}

/*Como fazemos para selecionar o último <h2>?
section>p+h2 {
    background: pink;
}*/

/*aqui colocará em laranja todos os paragrafos que não usam o id missao
.principal p:not(#missao){
    background: orangered;
}*/

/*Para que o CSS seja adaptado para que ele funcione em telas até 480px, precisamos usar as medias queries, que perguntará ao navegador qual é o tamanho da tela em questão e, se for aquele que desejamos, entregaremos o estilo correto.
Para realizar isso, utilizaremos o @media, com o valor do tipo de tela screen e a pesquisa. Todas as telas que tenham até 450, terão esse estilo diferente, reescrito. 
Para realizar isso,
utilizaremos o @media,
com o valor do tipo de tela screen e a pesquisa. Todas as telas que tenham até 450,
terão esse estilo diferente,
reescrito.*/
